{
  "swagger": "2.0",
  "info": {
    "description": "Public API for managing Clever-Cloud data and products",
    "version": "1.0.0",
    "title": "Clever-Cloud API",
    "contact": {}
  },
  "host": "api.clever-cloud.com",
  "basePath": "/v2",
  "tags": [{
    "name": "Default",
    "description": "Default section"
  }],
  "schemes": ["https"],
  "paths": {
    "/application/{appId}/environment": {
      "get": {
        "responses": {
          "default": {
            "description": "getEnv"
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "token",
          "required": false,
          "in": "query",
          "type": "string"
        }],
        "tags": ["all"]
      },
      "put": {
        "responses": {
          "default": {
            "description": "updateEnv"
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "token",
          "required": false,
          "in": "query",
          "type": "string"
        }],
        "tags": ["all"]
      }
    },
    "/authorize": {
      "post": {
        "operationId": "postAuthorize",
        "tags": ["all"],
        "description": "Handled by our API.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "authorize"
          }
        }
      }
    },
    "/events/event-socket": {
      "get": {
        "description": "Retrieve events as they come through a websocket connection. To have authorization, you have to send a `{ \"message_type\": \"oauth\", \"authorization\": \"oauth authorization string\" }` message",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "events"]
      }
    },
    "/github": {
      "get": {
        "operationId": "getGithub",
        "tags": ["all", "github"],
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "startGithub",
            "schema": {
              "$ref": "#/definitions/Transaction Id"
            }
          }
        }
      }
    },
    "/github/applications": {
      "get": {
        "operationId": "getGithubApplications",
        "tags": ["all", "applications", "github"],
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getGithubApplications",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          }
        }
      }
    },
    "/github/callback": {
      "get": {
        "operationId": "getGithubCallback",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "code",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "state",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "error",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "error_description",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "error_uri",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "Cookie",
          "in": "header",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "githubCallback"
          }
        }
      }
    },
    "/github/emails": {
      "get": {
        "operationId": "getGithubEmails",
        "tags": ["all", "github"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getGithubEmails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/github/keys": {
      "get": {
        "operationId": "getGithubKeys",
        "tags": ["all", "github"],
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getGithubKeys",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Key"
              }
            }
          }
        }
      }
    },
    "/github/link": {
      "delete": {
        "operationId": "deleteGithubLink",
        "tags": ["all", "github"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "unlinkGithub"
          }
        }
      },
      "get": {
        "operationId": "getGithubLink",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "transactionId",
          "in": "query",
          "description": "From GET /github",
          "required": false,
          "type": "string"
        }, {
          "name": "redirectUrl",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "linkGithub"
          }
        }
      }
    },
    "/github/login": {
      "get": {
        "operationId": "getGithubLogin",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "redirectUrl",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "fromAuthorize",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "githubLogin"
          }
        }
      }
    },
    "/github/redeploy": {
      "post": {
        "operationId": "postGithubRedeploy",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "User-Agent",
          "in": "header",
          "required": false,
          "type": "string"
        }, {
          "name": "X-Github-Event",
          "in": "header",
          "required": false,
          "type": "string"
        }, {
          "name": "X-Hub-Signature",
          "in": "header",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "redeployApp"
          }
        }
      }
    },
    "/github/signup": {
      "get": {
        "operationId": "getGithubSignup",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "redirectUrl",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "fromAuthorize",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "githubSignup"
          }
        }
      },
      "post": {
        "operationId": "postGithubSignup",
        "tags": ["all", "github"],
        "parameters": [{
          "name": "transactionId",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "name",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "otherId",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "otherEmail",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "password",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "autoLink",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "terms",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "finsihGithubSignup"
          }
        }
      }
    },
    "/github/username": {
      "get": {
        "operationId": "getGithubUsername",
        "tags": ["all", "github"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getGithubUsername",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/logs/logs-chunked/{appId}": {
      "get": {
        "description": "Retrieve logs as they come through a chunked, never-ending response",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "parameters": [{
          "name": "appId",
          "description": "Application Id",
          "required": true,
          "type": "string",
          "in": "path"
        }, {
          "name": "download",
          "description": "Tell the user-agent to download the body as a file",
          "required": false,
          "type": "boolean",
          "in": "query"
        }],
        "tags": ["all", "logs"]
      }
    },
    "/logs/logs-socket/{appId}": {
      "get": {
        "description": "Retrieve logs as they come through a websocket connection. To have authorization, you have to send a `{ \"message_type\": \"oauth\", \"authorization\": \"oauth authorization string\" }` message",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "parameters": [{
          "name": "appId",
          "description": "Application Id",
          "required": true,
          "type": "string",
          "in": "path"
        }, {
          "name": "since",
          "description": "Only fetch logs newer than this (ISO-8601 formatted) date",
          "required": false,
          "type": "string",
          "format": "date-time",
          "in": "query"
        }, {
          "name": "filter",
          "description": "A pattern to filter with",
          "required": false,
          "type": "string",
          "in": "query"
        }, {
          "name": "deployment_id",
          "description": "Only fetch logs emitted by this deployment",
          "required": false,
          "type": "string",
          "in": "query"
        }],
        "tags": ["all", "logs"]
      }
    },
    "/logs/{appId}": {
      "get": {
        "description": "Fetch the logs for a given application",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "parameters": [{
          "name": "appId",
          "description": "Application Id",
          "required": true,
          "type": "string",
          "in": "path"
        }, {
          "name": "limit",
          "description": "Number of lines to return",
          "required": false,
          "type": "integer",
          "format": "int32",
          "in": "query"
        }, {
          "name": "order",
          "description": "Logs order",
          "required": false,
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "desc",
          "in": "query"
        }, {
          "name": "after",
          "description": "Lowest bound for logs date, ISO 8601",
          "required": false,
          "type": "string",
          "format": "date-time",
          "in": "query"
        }, {
          "name": "before",
          "description": "Highest bounds for logs date, ISO 8601",
          "required": false,
          "type": "string",
          "format": "date-time",
          "in": "query"
        }, {
          "name": "filter",
          "description": "A pattern to filter with",
          "required": false,
          "type": "string",
          "in": "query"
        }, {
          "name": "deployment_id",
          "description": "Only fetch logs emitted by this deployment",
          "required": false,
          "type": "string",
          "in": "query"
        }],
        "tags": ["all", "logs"]
      }
    },
    "/logs/{appId}/drains": {
      "get": {
        "description": "Fetch the logs drains for a given application",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "logs"]
      },
      "post": {
        "description": "Add a log drain for a given application",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "logs"]
      }
    },
    "/logs/{appId}/drains/:idOrUrl": {
      "get": {
        "description": "Fetch the logs drain by id or url for a given application",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "logs"]
      },
      "delete": {
        "description": "Delete the logs drain by id or url for a given application",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "logs"]
      }
    },
    "/newsfeeds/blog": {
      "get": {
        "operationId": "getNewsfeedsBlog",
        "tags": ["all"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getBlogFeed"
          }
        }
      }
    },
    "/newsfeeds/engineering": {
      "get": {
        "operationId": "getNewsfeedEngineering",
        "tags": ["all"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getEngineeringFeed"
          }
        }
      }
    },
    "/notifications/emailhooks/{ownerId}": {
      "post": {
        "description": "create a hook for e-mail notifications",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      },
      "get": {
        "description": "list created e-mail hooks",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      }
    },
    "/notifications/emailhooks/{ownerId}/:id": {
      "put": {
        "description": "edit an e-mail hook",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      },
      "delete": {
        "description": "delete an e-mail hook",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      }
    },
    "/notifications/info/events": {
      "get": {
        "description": "list available events",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all", "events"]
      }
    },
    "/notifications/info/webhookformats": {
      "get": {
        "description": "list available webhook formats",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      }
    },
    "/notifications/webhooks/{ownerId}": {
      "post": {
        "description": "create a hook for notifications",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      },
      "get": {
        "description": "list created hooks",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      }
    },
    "/notifications/webhooks/{ownerId}/:id": {
      "put": {
        "description": "edit a hook",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      },
      "delete": {
        "description": "delete a hook",
        "responses": {
          "default": {
            "description": "<No description>"
          }
        },
        "tags": ["all"]
      }
    },
    "/oauth/access_token": {
      "post": {
        "operationId": "postOauthAccessToken",
        "tags": ["all", "oauth"],
        "parameters": [{
          "name": "oauth_consumer_key",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_token",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_signature_method",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_signature",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_timestamp",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_nonce",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_version",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_verifier",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_callback",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_token_secret",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_callback_confirmed",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "postAccessTokenRequest"
          }
        }
      }
    },
    "/oauth/access_token_query": {
      "post": {
        "responses": {
          "default": {
            "description": "postAccessTokenRequestQuery"
          }
        },
        "parameters": [{
          "name": "oauth_consumer_key",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_token",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_signature_method",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_signature",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_timestamp",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_nonce",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_version",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_verifier",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_callback",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_token_secret",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_callback_confirmed",
          "required": false,
          "in": "query",
          "type": "string"
        }],
        "tags": ["all", "oauth"]
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "getOauthAuthorize",
        "tags": ["all", "oauth"],
        "parameters": [{
          "name": "oauth_token",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "Cookie",
          "in": "header",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "authorizeForm"
          }
        }
      },
      "post": {
        "operationId": "postOauthAuthorize",
        "tags": ["all", "oauth"],
        "parameters": [{
          "name": "almighty",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_organisations",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_organisations",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_organisations_services",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_organisations_applications",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_organisations_members",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_organisations_bills",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_organisations_credit_count",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_organisations_consumption_statistics",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_personal_information",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_personal_information",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_ssh_keys",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_services",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "manage_applications",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_bills",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_credit_count",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "access_consumption_statistics",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "Cookie",
          "in": "header",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "authorizeToken"
          }
        }
      }
    },
    "/oauth/request_token": {
      "post": {
        "operationId": "postOauthRequestToken",
        "tags": ["all", "oauth"],
        "parameters": [{
          "name": "oauth_consumer_key",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_token",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_signature_method",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_signature",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_timestamp",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_nonce",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_version",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_verifier",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_callback",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_token_secret",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "oauth_callback_confirmed",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "postReqTokenRequest"
          }
        }
      }
    },
    "/oauth/request_token_query": {
      "post": {
        "responses": {
          "default": {
            "description": "postReqTokenRequestQueryString"
          }
        },
        "parameters": [{
          "name": "oauth_consumer_key",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_token",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_signature_method",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_signature",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_timestamp",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_nonce",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_version",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_verifier",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_callback",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_token_secret",
          "required": false,
          "in": "query",
          "type": "string"
        }, {
          "name": "oauth_callback_confirmed",
          "required": false,
          "in": "query",
          "type": "string"
        }],
        "tags": ["all", "oauth"]
      }
    },
    "/oauth/rights": {
      "get": {
        "operationId": "getOauthRights",
        "tags": ["all", "oauth"],
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getAvailableRights",
            "schema": {
              "$ref": "#/definitions/Rights"
            }
          }
        }
      }
    },
    "/organisations": {
      "get": {
        "operationId": "getOrganisations",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "user",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getUserOrganisations",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Organisation"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisations",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeOrganisation"
          }
        }],
        "responses": {
          "200": {
            "description": "createOrganisation",
            "schema": {
              "$ref": "#/definitions/Organisation"
            }
          }
        }
      }
    },
    "/organisations/{id}": {
      "delete": {
        "operationId": "deleteOrganisationsId",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteOrganisation"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsId",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getOrganisation",
            "schema": {
              "$ref": "#/definitions/Organisation"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsId",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeOrganisation"
          }
        }],
        "responses": {
          "200": {
            "description": "editOrganisation",
            "schema": {
              "$ref": "#/definitions/Organisation"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders": {
      "get": {
        "operationId": "getOrganisationsIdAddonproviders",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Get all informations about all providers.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Provider"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdAddonproviders",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeAddonProvider"
          }
        }],
        "responses": {
          "200": {
            "description": "createProvider",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}": {
      "get": {
        "operationId": "getOrganisationsIdAddonprovidersProviderId",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Get all informations about given provider.",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdAddonprovidersProviderId",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeAddonProvider"
          }
        }],
        "responses": {
          "200": {
            "description": "updateProviderInfos",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/features": {
      "get": {
        "operationId": "getOrganisationsIdAddonprovidersProviderIdFeatures",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getProviderFeatures",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feature"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdAddonprovidersProviderIdFeatures",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeFeature"
          }
        }],
        "responses": {
          "200": {
            "description": "addProviderFeature",
            "schema": {
              "$ref": "#/definitions/Feature"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/features/{featureId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdAddonprovidersProviderIdFeaturesFeatureId",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "featureId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteProviderFeature"
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans": {
      "get": {
        "operationId": "getOrganisationsIdAddonprovidersProviderIdPlans",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getProviderPlans",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Plan"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdAddonprovidersProviderIdPlans",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabePlan"
          }
        }],
        "responses": {
          "200": {
            "description": "addProviderPlan",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "planId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteProviderPlan"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "planId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getProviderPlan",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "planId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabePlan"
          }
        }],
        "responses": {
          "200": {
            "description": "editProviderPlan",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}": {
      "delete": {
        "operationId": "deleteOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "featureName",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "planId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteProviderPlanFeature"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "featureName",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "planId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabePlanFeature"
          }
        }],
        "responses": {
          "200": {
            "description": "editProviderPlanFeature"
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/sso": {
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonIdSso",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "getSSOData",
            "schema": {
              "$ref": "#/definitions/AddonProviderSso"
            }
          }
        },
        "parameters": [{
          "name": "providerId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }]
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/tags": {
      "get": {
        "operationId": "getOrganisationsIdAddonprovidersProviderIdTags",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getProviderTags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/testers": {
      "post": {
        "operationId": "postOrganisationsIdAddonprovidersProviderIdTesters",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "providerId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "addBetaTester"
          }
        }
      }
    },
    "/organisations/{id}/addons": {
      "get": {
        "operationId": "getOrganisationsIdAddons",
        "tags": ["all", "addons", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAddons",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdAddons",
        "tags": ["all", "addons", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeAddon"
          }
        }],
        "responses": {
          "200": {
            "description": "provisionAddon",
            "schema": {
              "$ref": "#/definitions/Addon"
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/preorders": {
      "post": {
        "responses": {
          "default": {
            "description": "preorderAddon"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/WannabeAddon"
          }
        }],
        "tags": ["all", "addons", "organisations"]
      }
    },
    "/organisations/{id}/addons/{addonId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdAddonsAddonId",
        "tags": ["all", "addons", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deprovisionAddon"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonId",
        "tags": ["all", "addons", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAddon",
            "schema": {
              "$ref": "#/definitions/Addon"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdAddonsAddonId",
        "tags": ["all", "addons", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeAddon"
          }
        }],
        "responses": {
          "200": {
            "description": "Update addon information",
            "schema": {
              "$ref": "#/definitions/Addon"
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/applications": {
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonIdApplications",
        "tags": ["all", "addons", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationsLinkedToAddon",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/env": {
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonIdEnv",
        "tags": ["all", "addons", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAddonEnv",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListEnv"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/plan": {
      "put": {
        "operationId": "putOrganisationsIdAddonsAddonIdPlan",
        "tags": ["all", "addons", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabePlan"
          }
        }],
        "responses": {
          "200": {
            "description": "Update plan of an add-on.",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/sso": {
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonIdSso",
        "tags": ["all", "addons", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getSSOData",
            "schema": {
              "$ref": "#/definitions/Sso"
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/tags": {
      "get": {
        "operationId": "getOrganisationsIdAddonsAddonIdTags",
        "tags": ["all", "addons", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAddonTags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/tags/{tag}": {
      "delete": {
        "operationId": "deleteOrganisationsIdAddonsAddonIdTagsTag",
        "tags": ["all", "addons", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "tag",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteAddonTag"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdAddonsAddonIdTagsTag",
        "tags": ["all", "addons", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "tag",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Body"
          }
        }],
        "responses": {
          "200": {
            "description": "addAddonTag"
          }
        }
      }
    },
    "/organisations/{id}/applications": {
      "get": {
        "operationId": "getOrganisationsIdApplications",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAllApplications",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates an application. If you want to create a Github app, you need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179",
        "operationId": "postOrganisationsIdApplications",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeApplication"
          }
        }],
        "responses": {
          "200": {
            "description": "addApplication",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppId",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteApplication"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppId",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplication",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppId",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeApplication"
          }
        }],
        "responses": {
          "200": {
            "description": "editApplication",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/addons": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdAddons",
        "tags": ["all", "addons", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAddonsLinkedToApplication",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdApplicationsAppIdAddons",
        "tags": ["all", "addons", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Body"
          }
        }],
        "responses": {
          "200": {
            "description": "linkAddonToApplication"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/addons/env": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdAddonsEnv",
        "tags": ["all", "addons", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getEnvOfAddonsLinkedToApplication",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Env"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/addons/{addonId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdAddonsAddonId",
        "tags": ["all", "addons", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "addonId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "unlinkAddonFromApplication"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/branch": {
      "put": {
        "responses": {
          "default": {
            "description": "setApplicationBranch"
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      }
    },
    "/organisations/{id}/applications/{appId}/branches": {
      "get": {
        "responses": {
          "default": {
            "description": "getApplicationBranches"
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdDependencies",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationDependencies",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies/env": {
      "get": {
        "responses": {
          "200": {
            "description": "Get env variables defined by application dependencies",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkedAppEnv"
              }
            }
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies/{dependencyId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdDependenciesDependencyId",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "dependencyId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteApplicationDependency"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdDependenciesDependencyId",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "dependencyId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Body"
          }
        }],
        "responses": {
          "200": {
            "description": "addApplicationDependency"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependents": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdDependents",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationDependents",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/deployments": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdDeployments",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "limit",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "offset",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "action",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationDeploymentsForOrga",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deployment"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdDeploymentsDeploymentIdInstances",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "deploymentId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationDeploymentsForOrga"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/env": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdEnv",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationEnv",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListEnv"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdEnv",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "type": "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }],
        "responses": {
          "200": {
            "description": "editApplicationEnvironment",
            "schema": {
              "$ref": "#/definitions/ListEnv"
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/env/{envName}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdEnvEnvName",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "envName",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "removeApplicationEnv"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdEnvEnvName",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "envName",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeEnv"
          }
        }],
        "responses": {
          "200": {
            "description": "editApplicationEnv",
            "schema": {
              "$ref": "#/definitions/ListEnv"
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/exposed_env": {
      "get": {
        "responses": {
          "default": {
            "description": "getExposedEnv"
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      },
      "put": {
        "responses": {
          "default": {
            "description": "updateExposedEnv",
            "schema": {
              "$ref": "#/definitions/ListEnv"
            }
          }
        },
        "parameters": [{
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      }
    },
    "/organisations/{id}/applications/{appId}/instances": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdInstances",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "undeployApplication"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdInstances",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationInstances",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppInstance"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdApplicationsAppIdInstances",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "commit",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "redeployApplication"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/instances/{instanceId}": {
      "get": {
        "responses": {
          "default": {
            "description": "getApplicationInstance",
            "schema": {
              "$ref": "#/definitions/AppInstance"
            }
          }
        },
        "parameters": [{
          "name": "instanceId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "appId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "applications", "organisations"]
      }
    },
    "/organisations/{id}/applications/{appId}/tags": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdTags",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getApplicationTags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/tags/{tag}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdTagsTag",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "tag",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteApplicationTag"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdTagsTag",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "tag",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Body"
          }
        }],
        "responses": {
          "200": {
            "description": "addApplicationTag"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts": {
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdVhosts",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getVhosts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Vhost"
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts/favourite": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdVhostsFavourite",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "unmarkFavouriteVhost"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdApplicationsAppIdVhostsFavourite",
        "tags": ["all", "applications", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getFavouriteVhost",
            "schema": {
              "$ref": "#/definitions/Vhost"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdVhostsFavourite",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Vhost"
          }
        }],
        "responses": {
          "200": {
            "description": "markFavouriteVhost"
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts/{domain}": {
      "delete": {
        "operationId": "deleteOrganisationsIdApplicationsAppIdVhostsDomain",
        "tags": ["all", "applications", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "domain",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "removeVhost"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdApplicationsAppIdVhostsDomain",
        "tags": ["all", "applications", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "domain",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/Vhost"
          }
        }],
        "responses": {
          "200": {
            "description": "addVhost"
          }
        }
      }
    },
    "/organisations/{id}/avatar": {
      "put": {
        "operationId": "putOrganisationsIdAvatar",
        "tags": ["all", "organisations"],
        "description": "If you want to upload an image from your computer, send the image in the body of the request without anything else.",
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "setOrgaAvatar\nsetOrgaAvatarFromSource"
          }
        }
      }
    },
    "/organisations/{id}/consumers": {
      "get": {
        "operationId": "getOrganisationsIdConsumers",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getConsumers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Consumer"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdConsumers",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeConsumer"
          }
        }],
        "responses": {
          "200": {
            "description": "createConsumer"
          }
        }
      }
    },
    "/organisations/{id}/consumers/{key}": {
      "delete": {
        "operationId": "deleteOrganisationsIdConsumersKey",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteConsumer"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdConsumersKey",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getConsumer",
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdConsumersKey",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeConsumer"
          }
        }],
        "responses": {
          "200": {
            "description": "PUT the same data as in POST."
          }
        }
      }
    },
    "/organisations/{id}/consumers/{key}/secret": {
      "get": {
        "operationId": "getOrganisationsIdConsumersKeySecret",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getConsumerSecret",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          }
        }
      }
    },
    "/organisations/{id}/consumptions": {
      "get": {
        "operationId": "getOrganisationsIdConsumptions",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "appId",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "from",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "to",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAmount",
            "schema": {
              "$ref": "#/definitions/Conso"
            }
          }
        }
      }
    },
    "/organisations/{id}/credits": {
      "get": {
        "operationId": "getOrganisationsIdCredits",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getAmount",
            "schema": {
              "$ref": "#/definitions/Credits"
            }
          }
        }
      }
    },
    "/organisations/{id}/instances": {
      "get": {
        "operationId": "getOrganisationsIdInstances",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getInstancesForAllApps",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/AppInstance"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/members": {
      "get": {
        "operationId": "getOrganisationsIdMembers",
        "tags": ["all", "organisations"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getOrganisationMembers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Member"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdMembers",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "invitationKey",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeMember"
          }
        }],
        "responses": {
          "200": {
            "description": "addOrganisationMember"
          }
        }
      }
    },
    "/organisations/{id}/members/{userId}": {
      "delete": {
        "operationId": "deleteOrganisationsIdMembersUserId",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "userId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "removeOrganisationMember"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdMembersUserId",
        "tags": ["all", "organisations"],
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "userId",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": false,
          "schema": {
            "$ref": "#/definitions/WannabeMember"
          }
        }],
        "responses": {
          "200": {
            "description": "editOrganisationMember"
          }
        }
      }
    },
    "/organisations/{id}/payment-info": {
      "get": {
        "operationId": "getOrganisationsIdPaymentInfo",
        "tags": ["all", "organisations"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getPaymentInfo"
          }
        }
      }
    },
    "/organisations/{id}/payments/billings": {
      "get": {
        "operationId": "getOrganisationsIdPaymentsBillings",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getInvoices"
          }
        }
      },
      "post": {
        "operationId": "postOrganisationsIdPaymentsBillings",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "buyDrops"
          }
        }
      }
    },
    "/organisations/{id}/payments/billings/unpaid": {
      "get": {
        "responses": {
          "default": {
            "description": "getUnpaidInvoices"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/billings/{bid}": {
      "delete": {
        "operationId": "deleteOrganisationsIdPaymentsBillingsBid",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "bid",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deletePurchaseOrder"
          }
        }
      },
      "get": {
        "operationId": "getOrganisationsIdPaymentsBillingsBid",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "bid",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getInvoice"
          }
        }
      },
      "put": {
        "operationId": "putOrganisationsIdPaymentsBillingsBid",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "bid",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "choosePaymentProvider"
          }
        }
      }
    },
    "/organisations/{id}/payments/billings/{bid}.pdf": {
      "get": {
        "operationId": "getOrganisationsIdPaymentsBillingsBidPdf",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "bid",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "token",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getPdfInvoice"
          }
        }
      }
    },
    "/organisations/{id}/payments/fullprice/{price}": {
      "get": {
        "operationId": "getOrganisationsIdPaymentsFullPricePrice",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "price",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "priceWithTax"
          }
        }
      }
    },
    "/organisations/{id}/payments/methods": {
      "get": {
        "responses": {
          "default": {
            "description": "Get the payments methods for the {id} organisation."
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      },
      "post": {
        "responses": {
          "default": {
            "description": "Add a payment method to {id} organisation."
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Body"
          }
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/methods/default": {
      "get": {
        "responses": {
          "default": {
            "description": "Get the default payment method for {id} organisation."
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      },
      "put": {
        "responses": {
          "default": {
            "description": "Set the default payment method for {id} organisation."
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "in": "body",
          "name": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/PaymentData"
          }
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/methods/{mId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "deletePaymentMethod"
          }
        },
        "parameters": [{
          "name": "mId",
          "required": true,
          "in": "path",
          "type": "string"
        }, {
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/monthlyinvoice": {
      "get": {
        "responses": {
          "default": {
            "description": "getMonthlyInvoice"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/monthlyinvoice/maxcredit": {
      "put": {
        "responses": {
          "default": {
            "description": "setMaxCreditsPerMonth"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/recurring": {
      "delete": {
        "operationId": "deleteOrganisationsIdPaymentsRecurring",
        "tags": ["all", "organisations", "payments"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "deleteRecurrentPayment"
          }
        }
      },
      "get": {
        "responses": {
          "default": {
            "description": "getRecurrentPayment"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/organisations/{id}/payments/tokens/bt": {
      "get": {
        "responses": {
          "default": {
            "description": "getBraintreeToken"
          }
        },
        "parameters": [{
          "name": "id",
          "required": true,
          "in": "path",
          "type": "string"
        }],
        "tags": ["all", "organisations", "payments"]
      }
    },
    "/password_forgotten": {
      "get": {
        "operationId": "getPasswordForgotten",
        "tags": ["all", "password_forgotten"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getPasswordForgottenForm"
          }
        }
      },
      "post": {
        "operationId": "postPasswordForgotten",
        "tags": ["all", "password_forgotten"],
        "parameters": [{
          "name": "login",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "drop_tokens",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "TesterPass",
          "in": "header",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "askForPasswordResetViaForm"
          }
        }
      }
    },
    "/password_forgotten/{key}": {
      "get": {
        "operationId": "getPasswordForgottenKey",
        "tags": ["all", "password_forgotten"],
        "parameters": [{
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "confirmPasswordResetRequest"
          }
        }
      },
      "post": {
        "operationId": "postPasswordForgottenKey",
        "tags": ["all", "password_forgotten"],
        "parameters": [{
          "name": "key",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "pass",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "pass2",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "resetPasswordForgotten"
          }
        }
      }
    },
    "/payments/coupons/{name}": {
      "get": {
        "operationId": "getPaymentsCouponsName",
        "tags": ["all", "payments"],
        "parameters": [{
          "name": "name",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "getCoupon"
          }
        }
      }
    },
    "/payments/providers": {
      "get": {
        "operationId": "getPaymentsProviders",
        "tags": ["all", "payments"],
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "getAvailablePaymentProviders",
            "schema": {
[...]
